body {
  background: #f7f7f7;
  font-size: 26px;
}

#main {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 30px;
  background: #ccc;
}

#title {
  text-align: center;
}

#img-div {
  background-color: #fff;
  padding: 20px 20px;
  margin-bottom: 50px;
}

#image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

li {
  margin-bottom: 20px;
}

@media (min-width: 700px)
{
  body {
    font-size: 20px;
  }
}